<!DOCTYPE html>
<html lang="en">
<head>{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title></title>

<link href="{% static 'acarbroker/extern/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'acarbroker/extern/css/sticky-footer.css' %}" rel="stylesheet">

<script src="{% static 'acarbroker/extern/js/jquery.min.js' %}"></script>
<script src="{% static 'acarbroker/extern/js/bootstrap.min.js' %}"></script>
</head>
<body>

<div class="container-fluid"><div class="row">
  <div class="col-md-10 col-sm-10 col-xs-10">
{% block body %}{% endblock %}
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2">
{% if request.user.is_authenticated %}
  <a href="{% url 'signout' %}">sign-out</a>
{% else %}
  <a href="{% url 'signin' %}">sign-in</a>
{% endif %}
  </div>
</div></div>


<footer class="footer">
  <div class="container"><div class="row">
    <div class="col-md-12 text-muted">
      <a href="https://github.com/kuaikai/kuaikai">This website is open source.</a>
    </div>
  </div></div>
</footer>
</body>
</html>
