<!DOCTYPE html>
<html lang="en">
<head>{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title></title>

<link href="{% static 'acarbroker/extern/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'acarbroker/extern/css/sticky-footer.css' %}" rel="stylesheet">

<script src="{% static 'acarbroker/extern/js/jquery.min.js' %}"></script>
<script src="{% static 'acarbroker/extern/js/bootstrap.min.js' %}"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#kuaikai-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">快·开</a>
    </div>
    <div class="collapse navbar-collapse" id="kuaikai-nav">
<ul class="nav navbar-nav navbar-right">
<li><a href="{% url 'aboutus' %}">about us</a></li>
<li><a href="">leaderboard</a></li>
<li><a href="{% url 'simjobs' %}">simulations</a></li>
<li><a href="{% url 'hwsim_index' %}">hardware-in-the-loop</a></li>
{% if request.user.is_authenticated %}
<li><a href="{% url 'signout' %}">sign-out</a></li>
{% else %}
<li><a href="{% url 'signin' %}">sign-in</a></li>
{% endif %}
</ul>
    </div>
  </div>
</nav>

<div class="container-fluid"><div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
{% block body %}{% endblock %}
  </div>
</div></div>


<footer class="footer">
  <div class="container"><div class="row">
    <div class="col-md-12 text-muted">
      <a href="https://github.com/kuaikai/kuaikai">This website is open source.</a>
    </div>
  </div></div>
</footer>
</body>
</html>
