<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title></title>
</head>
<body>
<h1>快·开 (kuai kai)</h1>
<h2>list of jobs</h2>
<table>
<thead><tr><th>start time</th><th>done?</th><th>result (if done)</th></tr></thead>
{% for job in jobs %}
<tr>
  <td>{{ job.starttime }}</td>
  <td>{{ job.done }}</td>
  <td>{% if job.result %}{{ job.result }}{% else %}...{% endif %}</td>
</tr>
{% endfor %}
</table>

<h2>actions</h2>
<ul>
<li><a href="/submit">start new submission</a></li>
</ul>
</body>
</html>
