{% extends "acarbroker/base.html" %}
{% block subtitle %} - simulations{% endblock %}
{% block simjobs_btn_class %}active{% endblock %}
{% block body %}
<h1>simulation evaluation</h1>
<h2>table of recent simulation jobs</h2>
<table class="table table-bordered">
<thead><tr><th>start time</th><th>user</th><th>done?</th><th>result (if done)</th></tr></thead>
<tbody>
{% for job in jobs %}
<tr>
  <td>{{ job.starttime }}</td>
  <td>{% if job.user_picture_url %}<img height="16" src="{{ job.user_picture_url }}" alt="avatar of {{ job.user_name }}" title="{{ job.user_name }}">{% else %}job.user_name{% endif %}</td>
  <td>{{ job.done }}</td>
  <td>{% if job.result %}{{ job.result }}{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
